# converted Markdown files (e.g. by preview in Sublime Text)
/README.html

# temporary files
*~
*.bak
*.bak[0-9]
*.pyc
.tmp-*

# build results
_install
_build
/buildSrc/build

# llvm optimization results
/llvm-optimizations-application/graph
/llvm-optimizations-application/ir
/llvm-optimizations-application/src_new

# files created by the Gradle wrapper
.gradle

# local Gradle properties
/gradle-local.properties
