# converted Markdown files (e.g. by preview in Sublime Text)
/README.html

# temporary files
*~
*.bak
*.bak[0-9]
*.pyc

# build results
/reconos/_install

# llvm optimization results
/single-pendulum-llvm/graph
/single-pendulum-llvm/ir
/single-pendulum-llvm/src_new
